<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
   <servlet>
    <servlet-name>19_CDIO_Final</servlet-name>
    <servlet-class>code.server.ServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>19_CDIO_Final</servlet-name>
    <url-pattern>/19_Final</url-pattern>
  </servlet-mapping>
  
	<dependency>
      <groupId>mysql</groupId>
      <artifactId>mysql-connector-java</artifactId>
      <version>5.1.26</version> 
     </dependency> 
     
	<dependency>
		<groupId>org.gwtbootstrap3</groupId>
		<artifactId>gwtbootstrap3</artifactId>
		<version>0.9.3</version>
		<scope>provided</scope>
	</dependency>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Final_Real.html</welcome-file>
  </welcome-file-list>

</web-app>
